.container {
    /* width: 250px; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}
.container i {
    font-size: 25px;
    color: #E3E3E3
}
.active {
    color: var(--main-color) !important;
}