.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container p {
  width: 100px;
  padding-right: 15px;
  text-align: end;
  font-size: 18px;
  color: var(--color-main);
}
.container img {
  width: 64px;
  height: auto;
  border-radius: 100%;
}
