.container {
    display: flex;
    gap: 15px;
}
.tag {
    min-width: 115px;
    height: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 10px;
}
.tag p {
    font-size: 14px;
    color: var(--color-light);
}