.container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.logoElem {
  background-color: #fff;
  mask-size: cover;
}
.logoK {
  width: 37px;
  height: 43px;
  -webkit-mask-image: url("/public/images/logo_k.svg");
  mask-image: url("/public/images/logo_k.svg");
}
.logoHouse {
  width: 31px;
  height: 36px;
  margin-bottom: -2px;
  -webkit-mask-image: url("/public/images/logo_house.svg");
  mask-image: url("/public/images/logo_house.svg");
}
.logoS {
  width: 27px;
  height: 33px;
  -webkit-mask-image: url("/public/images/logo_s.svg");
  mask-image: url("/public/images/logo_s.svg");
}
.logoA {
  width: 27px;
  height: 33px;
  -webkit-mask-image: url("/public/images/logo_a.svg");
  mask-image: url("/public/images/logo_a.svg");
}
.mainColor {
  background-color: var(--color-main) !important;
}

@media (min-width: 768px) {
  .container {
    gap: 10px;
  }
  .logoK {
    width: 54px;
    height: 62px;
  }
  .logoHouse {
    width: 46px;
    height: 53px;
    margin-bottom: -2px;
  }
  .logoS {
    width: 40px;
    height: 48px;
  }
  .logoA {
    width: 40px;
    height: 48px;
  }
}
