.container {
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media (min-width: 768px) {
  .container {
    padding: 45px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background: var(--color-grey);
  }
}
