.container {
  margin: 0 auto 30px;
}
.title {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);
  border-radius: 10px;
}
.title h1 {
  font-size: 18px;
  color: #fff;
}
.title i {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.iconReverse {
  transform: rotate(180deg);
}
.container p {
  padding: 30px 20px 20px;
  background: #f6f6f6;
  color: var(--color-main);
  font-size: 14px;
  line-height: 150%;
}
.container ul {
  padding: 30px 20px 20px;
  background: #f6f6f6;
}
.container ul p {
  padding: 0;
}

