.container {
  width: 80%;
  margin: 0 auto 30px;
}
.container h1 {
  width: 100%;
  padding: 15px 0 15px 20px;
  font-size: 18px;
  color: #fff;
  background: var(--color-main);
  border-radius: 10px;
  /* margin-bottom: 20px; */
}
.container p {
  padding: 30px 20px 20px;
  background: #f6f6f6;
  color: var(--color-main);
  font-size: 14px;

  line-height: 150%;
}
.container ul {
  padding: 30px 20px 20px;
}
.container ul p {
  padding: 0;
}
