:root {
  --color-main: #FF6060;
  /* --color-light: #fff;
  --color-dark: #000; */
  --color-grey: #F6F6F6;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
}
main {
  max-width: 1240px;
  margin: 0 auto 50px;
}
#root > *:not(footer) {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
